@charset "utf-8"; /* ============================== */ /* - Title: Salesman - Domain For Sale Template - Autor: Frekvenca spleta s.p. / Frequency Themes - Email: info@frekvencaspleta.si - Version: 1.00 */ /* ============================== */ /* Fonts --------------------------------------------------------*/
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/bebasneue-webfont.woff') format('woff'), url('../fonts/bebasneue-webfont.ttf') format('truetype'), url('../fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url('../fonts/helvetica_neue_condensed_bold.eot');
    src: url('../fonts/helvetica_neue_condensed_boldd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica_neue_condensed_bold.svg#Helvetica Neue') format('svg'), url('../fonts/helvetica_neue_condensed_bold.woff') format('woff'), url('../fonts/helvetica_neue_condensed_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/******************************* RESET *******************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    overflow-y: scroll;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 0;
    background-color: #c7c7c7;
    border-top: 1px solid #c7c7c7;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #FFF;
    margin: 1em 0;
    padding: 0;
}

* + html hr {
    height: 2px;
}

/* Standar Styles --------------------------------------------------------*/
body {
    background: url('../images/bg.gif');
    font-family: 'bebas_neueregular';
    font-size: 18px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.background-circle {
    background: url('../images/bg-circle.jpg') no-repeat center top;
}

input, textarea {
    font-family: 'bebas_neueregular';
    font-size: 18px;
}

/* Content Styles --------------------------------------------------------*/
.wrapper {
    margin: 0 auto;
    overflow: auto;
    width: 720px;
    padding: 0 0 88px 0;
}

.social {
    position: absolute;
    margin: 164px 0 0 566px;
}

.social img {
    float: left;
    margin-left: -4px;
}

.salesman {
    position: absolute;
    margin: 207px 0 0 -46px;
    z-index: 100;
}

.cloud {
    display: block;
    position: relative;
    overflow: auto;
    width: 376px;
    height: 241px;
    background: url('../images/cloud.png') no-repeat;
    margin: 169px 0 0 207px;
    font-size: 24px;
}

.cloud-elements {
    position: absolute;
    z-index: 1000;
}

.ok {
    display: inline-block;
    float: left;
    width: 28px;
    height: 28px;
    background: url('../images/check-icon.png') no-repeat;
}

.cloud .text-1 {
    display: block;
    color: #5e5e5e;
    margin: 93px 0 0 76px;
}

.cloud .text-1 .ok {
    margin-right: 7px;
}

.cloud .text-2 {
    display: block;
    color: #2c9fb3;
    margin: 14px 0 0 81px;
    font-size: 27px;
}

.green {
    color: #4da735;
}

.content {
    display: block;
    width: 100%;
    height: 294px;
}

.contact-form {
    display: block;
    position: absolute;
    z-index: 1000;
    margin: 35px 0 0 234px;
    width: 324px;
    color: #2c9fb3;
}

.input-item {
    display: block;
    overflow: auto;
    padding-bottom: 7px;
}

.input-item label {
    float: left;
    width: 55px;
    background: #FFF;
    padding: 12px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
}

.input-item input {
    float: left;
    width: 221px;
    border: 0;
    padding: 12px;
    margin: 0;
    background: #9fe5f2;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
    color: #5e5e5e;
}

.textarea-item label {
    float: left;
    width: 300px;
    background: #FFF;
    padding: 10px 12px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

.textarea-item textarea {
    float: left;
    width: 300px;
    height: 47px;
    border: 0;
    padding: 12px;
    margin: 0;
    background: #9fe5f2;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    color: #5e5e5e;
    overflow: auto;
}

.send-button {
    display: inline-block;
    margin-top: 7px;
    background: #FFF url('../images/plane.png') no-repeat 10px 9px;
    padding-left: 37px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.send-button button {
    background: #a4ee90;
    font-family: 'bebas_neueregular';
    color: #528944;
    font-size: 18px;
    border: 0;
    padding: 9px 10px 8px 10px;
    margin: 0;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

/* Footer Styles --------------------------------------------------------*/
footer {
    display: block;
    overflow: auto;
    width: 667px;
    height: 113px;
    background: url('../images/footer.png') no-repeat;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.footer-top {
    font-size: 32px;
    color: #FFF;
    font-style: italic;
    font-family: "Helvetica Neue";
    margin-left: 239px;
    margin-top: 3px;
}

.tel {
    font-style: normal;
    color: #d1ffc5;
    padding-left: 30px;
    background: url('../images/tel.gif') no-repeat left 4px;
    font-family: 'bebas_neueregular';
    margin-left: 14px;
    font-size: 37px;
}

.copy {
    font-size: 18px;
    color: #FFF;
    font-style: italic;
    font-family: "Helvetica Neue";
    margin: 27px 0 0 294px;
}